:root {
  --primary-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-size: 10px;
  line-height: 1.6;
  overflow-x: visible;
}

.btn {
  width: 100%;
  padding: 11px 0 11px 0;
  border-radius: 38px;
  border: none;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  background-color: #e60012;
  box-shadow: 0px 2px #3333333f;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.headline {
  &-1 {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }
  &-2 {
    margin-bottom: 40px;
    font-size: 32px;
    color: #011d79;
    font-weight: bold;
    text-align: center;
    &.left {
      text-align: left;
    }
  }
  @media screen and (max-width: 768px) {
    &-2 {
      margin-bottom: 20px;
      font-size: 24px;
    }
  }
}

.btn-cmn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 360px;
  width: 100%;
  min-height: 48px;
  margin: 0 auto;
  padding: 10px;
  background-color: #082680;
  border: 1px solid #082680;
  color: #fff;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  outline: none;
  border-radius: 8px;
  &:hover {
    &::before {
      height: calc(100% + 6px);
      opacity: 1;
      width: calc(100% + 6px);
    }
    .btn-cmn--arrow {
      &::before {
        right: -5px;
      }
    }
  }
  &::before {
    border: 1px solid #082680;
    border-radius: 8px;
    content: '';
    height: 100%;
    left: 50%;
    opacity: 0;
    position: absolute;
    text-decoration: inherit;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease-in-out;
    vertical-align: inherit;
    width: 100%;
  }
  &--arrow {
    position: relative;
    padding-right: 20px;
    &::before {
      border-radius: 2px;
      border-right: 2px solid #fff;
      border-top: 2px solid #fff;
      content: '';
      height: 7px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      width: 7px;
      transition: right 0.3s ease-out;
    }
  }
  &__product {
    width: 50%;
    min-height: 64px;
    font-size: 24px;
    &.white {
      background-color: #fff;
      color: #082680;
    }
  }
  @media screen and (max-width: 768px) {
    font-size: 14px;
    min-height: 40px;
    &--arrow {
      padding-right: 15px;
      &::before {
        width: 5px;
        height: 5px;
      }
    }
  }
}

.box--btn {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 570px;
  display: flex;
  gap: 30px;
  justify-content: center;
  text-align: center;
}

img {
  width: auto;
  max-width: 100%;
  vertical-align: middle;
}
